In [1]:
# 뒷 부분에 활용할 패키지를 미리 import 합시다.
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [3]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.lower()

"hi! everyone, i'm kim"

In [4]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [5]:
# 아래에 코드를 작성하세요.
','.join(['1', '2', '3'])

'1,2,3'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [1]:
# 아래에 코드를 작성하세요.
'apple'.replace('p', 'a')

'aaale'

In [7]:
'apple'.replace('p', 'a', 1)

'aaple'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [8]:
# 아래에 코드를 작성하세요.
'                hi~'.strip()

'hi~'

In [9]:
'                hi~            '.strip()

'hi~'

In [10]:
'                hi~            '.lstrip()

'hi~            '

In [11]:
'                hi~            '.rstrip()

'                hi~'

In [12]:
'안녕하세요~^^'.rstrip('^')

'안녕하세요~'

In [13]:
# 가운데는 지우지 못하고 양끝에 있는 것만 지울 수 있다
'aabbaabbaa'.strip('aa')

'bbaabb'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [14]:
# 아래에 코드를 작성하세요.
# 찾는 문자으 첫번째 위치 반환
'wow!'.find('w')

0

In [15]:
# 찾는게 없으면 -1 반환
'wow!'.find('a')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [16]:
# 아래에 코드를 작성하세요.
'wow!'.index('w')

0

In [17]:
# 찾는게 없으면 오류 발생
'wow!'.index('a')

ValueError: substring not found

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'3 10'.split()

In [ ]:
inputs = '3 10'
a, b = map(int, inputs.split())
print(a, b)

In [ ]:
'a_b_c'.split('_')

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [2]:
# 문자인지 확인
'e'.isalpha()

True

In [3]:
# 숫자인지 확인
'1'.isdigit()

True

In [4]:
'0111'.isnumeric()

True

In [6]:
'a'.isupper()

False

In [7]:
'A'.isupper()

True

In [ ]:
# 할 수 있는 모든 것들
dir('asdf')

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [16]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [17]:
# 값을 추가해봅시다.
caffe.append('삼성화재연수원 카페')

In [18]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['이디야']
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', '이디야']

In [20]:
# 기둥 뒤에 공간 있어요
caffe[len(caffe):]

[]

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [42]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['카페베네'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', '이디야', '카페베네']

In [43]:
caffe.extend(['뺵다방','설빙'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', '이디야', '카페베네', '뺵다방', '설빙']

In [44]:
# 앞서 배운 list concatenate와 동일합니다.
caffe = caffe + ['드롭탑']
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', '이디야', '카페베네', '뺵다방', '설빙', '드롭탑']

In [46]:
# append와 비교해봅시다.
caffe.append(['동네카페'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', '이디야', '카페베네', '뺵다방', '설빙', '드롭탑', ['동네카페'], ['동네카페']]

In [51]:
caffe.extend('블루보틀')
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', '이디야', '카페베네', '뺵다방', '설빙', '드롭탑', ['동네카페'], ['동네카페'], '블', '루', '보', '틀', '블', '루', '보', '틀', '블', '루', '보', '틀']

In [54]:
# 활용법

a = '안녕하세요, 여러분'
print(a.split())

['안녕하세요,', '여러분']

In [57]:
a = '안녕하세요, 여러분'
result = []
result.extend(a)
print(result)

# 이렇게 한글자씩 넣기 좋겠네

['안', '녕', '하', '세', '요', ',', ' ', '여', '러', '분']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [59]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0,'hi')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', '이디야', '카페베네', '뺵다방', '설빙', '드롭탑', ['동네카페'], ['동네카페'], '블', '루', '보', '틀', '블', '루', '보', '틀', '블', '루', '보', '틀']

In [63]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(len(caffe), 'bye')   
print(caffe)

# .insert(-1, 'bye') 하니까 이상한 곳에 들어가네?
# len으로 해서 넣어야한다.

['hi', 'starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', '이디야', '카페베네', '뺵다방', '설빙', '드롭탑', ['동네카페'], ['동네카페'], '블', '루', '보', '틀', '블', '루', '보', '틀', '블', '루', '보', 'bye', 'bye', '틀', 'bye', 'bye']

In [64]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.

caffe.insert(len(caffe)+1000, '안녕')
print(caffe)

# 아무리 인덱스를 크게 줘도 맨 뒤에 붙는다.

['hi', 'starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', '이디야', '카페베네', '뺵다방', '설빙', '드롭탑', ['동네카페'], ['동네카페'], '블', '루', '보', '틀', '블', '루', '보', '틀', '블', '루', '보', 'bye', 'bye', '틀', 'bye', 'bye', '안녕']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [103]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [104]:
# 중복된 값 1을 삭제 해봅시다.
# 앞에서 부터 하나만 지운거야 
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [105]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [106]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)

ValueError: list.remove(x): x not in list

In [25]:
x=[1, 1, 2, 3, 4]
print(x.remove(1))

None

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [107]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]
# b = []
# b.append(a.pop(0))
# print(b)
# remove와 다르게 return 값이 있네?

In [116]:
a.pop(0)

IndexError: pop from empty list

In [79]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
print(a)

In [80]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
member = ['연용흠', '박태수', '염동환', '토마스']

In [81]:
bye_member = member.pop()

In [82]:
# return값이 있는 덕분에 이런식으로 표현이 가능해지겠지
print(f'{bye_member}님 이용해주셔서 감사합니다')

# 삭제할 때는 인덱스, 위치로 접근해서 삭제하고 return으로는 그 값이 나온다니 너무좋네

토마스님 이용해주셔서 감사합니다

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [66]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [69]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(3)

2

In [85]:
a.index(1000)

ValueError: 1000 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [86]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [92]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
for _ in range(a.count(1)):    # for문에 _ (언더바)를 사용하면 그 변수에 값을 넣지 않기 때문에 단순 반복이 필요할 때는 이것도 좋은 방법
    a.remove(1)
print(a)

[2, 5, 5]

In [93]:
# 모두 삭제되었는지 검증해봅시다.
1 in a

False

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [70]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[6, 35, 28, 4, 3, 39]

In [76]:
x=[3,5,1,2,3,1]
# x.sort()
# x.extend([8,5,1])
sorted(x)

[1, 1, 2, 3, 3, 5]

In [99]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)

[8, 14, 15, 25, 29, 36]

In [100]:
# sort는 반환값이 None이고 원본 자체를 바꾸기 때문에, 아래처럼 작성하면 안된다.
lotto = lotto.sort()
print(lotto)

None

In [101]:
# sorted()는 원본은 바꾸지 않지만, 정렬된 결과를 반환한다. 따라서 아래처럼 작성하면 안된다.
a = [1, 5, 3]
sorted(a)
print(a)

[1, 5, 3]

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [90]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [91]:
classroom.reverse()

In [92]:
print(classroom)

['Justin', 'David', 'Tom']

## 복사

In [108]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [109]:
# 복사한 리스트의 첫번째 원소값을 바꾸고 리스트를 출력해봅시다.
copied_list[0] = '연용흠'

In [111]:
copied_list

['연용흠', 2, 3]

In [113]:
original_list    # 뭐야 원래 리스트도 바뀌어 있네?

['연용흠', 2, 3]

In [116]:
# id 값을 확안해봅시다.
print(id(original_list), id(copied_list))  

# 왜 두 id값이 같을까..?

96440408 96440408

In [115]:
# 숫자를 확인해봅시다.
a = 3
b = a
b = 5
print(a, b)     # 왜 리스트는 이런식으로 동작이 안되지?

3 5

In [117]:
# 딕셔너리도 확인해봅시다.
a = {'apple': '사과', 'banana': '바나나'}
b = a
b['apple'] = '맥북'
print(a, b)

# 리스트처럼 원본까지 바뀌었네?

{'apple': '맥북', 'banana': '바나나'} {'apple': '맥북', 'banana': '바나나'}

### copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [118]:
# mutable - 리스트
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

# 얘는 주소를 복사한거고..

In [119]:
# immutable - integer
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

# 얘는 값을 복사한거라..

In [121]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = list(a)
b[0] = 5
print(a, b)

[1, 2, 3] [5, 2, 3]

In [6]:
# 다른 방법으로 복사해봅시다.
a = [1, 2, 3]
print(a[:])

b = a[:]   # 이렇게하면 슬리이싱한 결과들을 b에 새롭게 복사한거야, 주소 복사랑 다른거지
b[0] = 5
print(a, b)

[1, 2, 3]
[1, 2, 3] [5, 2, 3]

In [9]:
a = [1, 2, 3]
b = a
b = [3]
print(a, b)

# 이건 b에 새로운 리스트를 만들면서 주소가 따로 저장되니 a에 영향이 없지

[1, 2, 3] [3]

In [126]:
# 얕은 복사 예시
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [10]:
# 2차원 리스트를 복사해봅시다.
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 3
print(a, b)

[1, 2, [3, 2]] [1, 2, [3, 2]]

In [11]:
a = [1, 2, [1, 2]]
b = a[:]
b[2] = [0, 3]
print(a, b)

# 이것도 1차원 리스트와 마찬가지로 b[2]에 새로운 리스트를 만들어주면서 새로운 주소를 저장했으니 a에 영향이 없겠지

[1, 2, [1, 2]] [1, 2, [0, 3]]

In [128]:
# 얕은 복사 - 2차원 리스트
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [131]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] =3

print(a,b)

[1, 2, [1, 2]] [1, 2, [3, 2]]

In [132]:
# 깊은 복사
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [137]:
# clear를 사용해봅시다.
a = [1, 2, 3]
a.clear()
print(a)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [144]:
numbers = range(1,11)

In [145]:
# 기존의방법
cubic_list =[]
for number in numbers:
    cubic_list.append(number**3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [146]:
# List Comprehension
[number**3 for number in numbers]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [148]:
numbers = range(1,11)

In [151]:
# 기존의방법
even_list = []
for number in numbers:
    if not number % 2:
        even_list.append(number)

print(even_list)

[2, 4, 6, 8, 10]

In [154]:
# List Comprehension
[number for number in numbers if not number %2]  #

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [138]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [161]:
# 반복문을 활용하여 만들어주세요.
pair = []
for girl in girls:
    for boy in boys:
        pair.append((girl, boy))
        
print(pair)
print(type(pair[0]))

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]
<class 'tuple'>

In [164]:
# List comprehension을 활용하여 만들어주세요.
[(girl, boy) for girl in girls for boy in boys]

[('jane', 'justin'),
 ('jane', 'david'),
 ('jane', 'kim'),
 ('iu', 'justin'),
 ('iu', 'david'),
 ('iu', 'kim'),
 ('mary', 'justin'),
 ('mary', 'david'),
 ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [192]:
# 반복문을 활용하여 만들어주세요.
Pytha=[]
for z in range(1,50):
    for y in range(1, z):
        for x in range(1, y):
            if x**2 + y**2 == z**2:
                Pytha.append((x, y, z))    
print(Pytha)

#------
Pytha2=[]
for x in range(1, 50):
    for y in range(x+1, 50):
        for z in range(y+1, 50):
            if x**2 + y**2 == z**2:
                Pytha2.append((x, y, z))               
print(Pytha2)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45)]
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [193]:
# List comprehension을 활용하여 만들어주세요.
[(x, y, z) for x in range(1, 50) for y in range(x+1, 50) for z in range(y+1, 50) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [205]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
print(''.join([word for word in words if word not in 'aeiou']))

Lf s t shrt, y nd pythn!

In [206]:
''.join([word if word not in 'aeiou' else '*' for word in words])

'L*f* *s t** sh*rt, y** n**d pyth*n!'

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [16]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [17]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')

KeyError: 'melon'

In [18]:
my_dict.pop('apple')

'사과'

In [19]:
print(my_dict)

{'banana': '바나나'}

In [22]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', False)

False

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [30]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(apple =  '사과입니다')    # .update('apple': 사과입니다) 가 이니네 이렇게 쓰려면 밑에처럼
print(my_dict)

{'apple': '사과입니다', 'banana': '바나나', 'melon': '멜론'}

In [31]:
my_dict.update({'banana':'바나나야'})
print(my_dict)

{'apple': '사과입니다', 'banana': '바나나야', 'melon': '멜론'}

In [33]:
my_dict.update(grape='포도')
print(my_dict)

{'apple': '사과입니다', 'banana': '바나나야', 'melon': '멜론', 'grape': '포도'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [35]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [39]:
print(my_dict.get('pineapple'))

None

In [40]:
print(my_dict.get('pineapple', False))

False

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [54]:
# list comprehension
print([x**3 for x in range(1,5)])

# dictionary comprehension
print({x: x**3 for x in range(1, 5)})

[1, 8, 27, 64]
{1: 1, 2: 8, 3: 27, 4: 64}

In [56]:
result = {}
for x in range(1, 5):
    result[x] = x**3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64}

In [53]:
# dictionary comprehension으로 만들면
print({char: 0 for char in 'abcdef'})

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0}

In [ ]:
# 반복문으로 만들면
result = {}
for char in 'abcdef':
    result[char] = 0
print(result)

### dictionary comprehension 사용해보기

In [57]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [71]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
print({key: dusts[key] for key in dusts if dusts[key] > 80})

{'대전': 82, '중국': 200}

In [72]:
{key: value for key, value in dusts.items() if value > 80}

{'대전': 82, '중국': 200}

In [76]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
print({key: '나쁨' if value > 80 else '보통'for key, value in dusts.items()})

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [74]:
# 위에는 dictionary comprehension이 아니라 아래와 같은 조건표현식을 쓴거지 
value = 82
value if value > 80 else '보통'

82

In [70]:
[x for x in range(5) if x < 3 ]

SyntaxError: invalid syntax (<ipython-input-70-eff05b8ae7b5>, line 1)

In [77]:
# elif와 비슷하게 사용할 수도 있습니다.
{key: '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [78]:
# add를 사용해봅시다.
a = {"사과", "바나나", "수박"}

In [81]:
a.add('파인애플')
print(a)

{'수박', '사과', '파인애플', '바나나'}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [87]:
# update를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.update('토마토', '딸기')
print(a)
# 이러니까 안되지?

{'수박', '사과', '토', '기', '바나나', '딸', '마'}

In [89]:
a = {"사과", "바나나", "수박"}
a.update(('토마토', '딸기'))
print(a)

{'수박', '사과', '토마토', '딸기', '바나나'}

In [91]:
# update(*others) 라서 여러개 입력되는거아닌가?? 다음과 같이 여러개 넣을때만 된다
a = {"사과", "바나나", "수박"}
a.update(('토마토',), ('딸기',))   # 이때 ('토마토'), ('딸기') 이러면 또 안돼..ㅋㅋ
print(a)

{'수박', '사과', '토마토', '딸기', '바나나'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [94]:
# remove를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.remove('사과')
print(a)

{'수박', '바나나'}

In [95]:
a.remove('파인애플')

KeyError: '파인애플'

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [96]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.discard('파인애플')
# 없어도 오류가 발생 안하지!
# 그런데 a.discard('파인애플', False)  # get처럼 이렇게 default값 설정은 못해! 한번 정리해봐야겠다

### `pop()`

임의의 원소를 제거해 반환합니다.

In [128]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}
a.pop()
print(a)

{'수박', '사과', '바나나'}

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [111]:
a = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [112]:
result = []
for elem in a:
    result.append(str(elem))
print(result)

['1', '2', '3']

In [102]:
# list comprehension
[str(elem) for elem in a]

['1', '2', '3']

In [105]:
''.join([str(elem) for elem in a])

'123'

In [110]:
print(list(map(str,a)))
print(''.join(map(str, a)))

['1', '2', '3']
123

In [116]:
a = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
b, c, d = map(int, a)
print(b, c, d)

1 2 3

In [117]:
list(map(int, a))

[1, 2, 3]

In [118]:
# list comprehension
[int(elem) for elem in a]

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [119]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [121]:
numbers = list(map(int, a))
[cube(elem) for elem in numbers]

[1, 8, 27]

In [123]:
# 함수를 함수의 인자로 넘겨줄 수 있다.
list(map(cube, numbers))

[1, 8, 27]

In [124]:
my_sum = sum

In [126]:
# 내가 my_sum을 따로 안만들어도 이게 되네? 왜냐하면 함수자체도 객체라서 이런식으로 활용이 되거든... 
# 함수를 변수에 저장할 수 있다.
my_sum([1, 2, 3])

6

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [129]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [131]:
result = []
for idx_girl, girl in enumerate(girls):
    for idx_boy, boy in enumerate(boys):
        if idx_girl == idx_boy:
            result.append((girl,boy))
            
print(result)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [134]:
result = []
for girl,boy in zip(girls, boys):
    result.append((girl, boy))
print(result)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [142]:
print(list(zip(girls, boys)))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [144]:
# 자! 이렇게 튜플로 묶여있는 리스트 형태 어디에서 많이 봤지!??????

In [ ]:
# dict_items() 쓰면 딱 이 모양으로 나오잖아 연관지어서 생각해보자!

In [143]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [146]:
# string도 iterable 하니까 이게 된다.
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [148]:
# 짧은 것 기준으로!
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [149]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [150]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [152]:
def even(n):
    return not n%2

In [153]:
list(filter(even, range(1,10)))

[2, 4, 6, 8]

In [154]:
# 다음의 list comprehension과 동일하다.
[num for num in range(1, 10) if even(num)]

[2, 4, 6, 8]